*
!index.html
!manifest.json
!sw.js
!README.md
!SECURITY.md
!LICENSE
!CONTRIBUTING.md
!.gitignore
!MEHFIL-SPEC.md
!MEHFIL-OFFLINE-MESH-SPEC.md
!MEHFIL-WALKTHROUGHS.md
!PROTOCOL.md
!docs/
!docs/*.md
!guide/
!guide/.gitignore
!guide/index.html
!guide/img/
!guide/img/*.png
!wrangler.jsonc
!.assetsignore
# e2e mesh harness (node_modules stays ignored — not whitelisted)
!scripts/
!scripts/verify-mesh.mjs
!scripts/package.json
!scripts/package-lock.json
!scripts/README.md

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
