*
!index.html
!manifest.json
!sw.js
!README.md
!SECURITY.md
!LICENSE
!CONTRIBUTING.md
!.gitignore
!MEHFIL-SPEC.md
!MEHFIL-WALKTHROUGHS.md
!PROTOCOL.md
!docs/
!docs/*.md
!guide/
!guide/.gitignore
!guide/index.html
!guide/img/
!guide/img/*.png
